POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=football_tournament
JWT_SECRET=changeme
MONOLITH_PORT=3000
STANDINGS_PORT=3001
PUBLIC_PORT=3002
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
REDIS_URL=redis://redis:6379
GRAFANA_ADMIN_PASSWORD=admin123
